.App {
  font-family: sans-serif;
  padding: 20px;
  text-align: center;
}




input, button {
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
}

button {
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
}

.extracted-box {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  border-radius: 8px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.summary-box {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  border-radius: 8px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6); /* optional overlay */
  z-index: 1000;
}


